:root {
  --mainBlue: #501ef7;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
}
body {
  /* important, because bootstrap overwrites it otherwise */
  font-family: "Noto Sans", sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}
.text-title {
  font-family: "Lexend Giga", sans-serif;
  text-transform: uppercase;
}
